.card-grid {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 680px;
  gap: 10px;
  justify-content: center;
  padding: 10px 0;
}

.card {
  border: 1px solid black;
  width: 140px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media screen and (max-width: 720px) {
  .card {
    border: 1px solid black;
    width: 100px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-grid {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-width: 480px;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .card > button > img {
    width: 50px;
  }

  .card > button > span {
    text-align: center;
    font-size: 0.8rem;
    min-width: 100px;
  }

  .card {
    border: 1px solid black;
    width: 44px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-grid {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-width: 345px;
    max-width: 450px;
    gap: 5px;
    justify-content: center;
    padding: 0;
  }
}
